<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="user-login-container">
        <p>Welcome, <%= name %></p>
        <a href="/" class="sign-in-button">Log out</a>
        </div>
        <h1>Workout Log Pro</h1>
    </header>
    <main>
    <h1>Suggested for you</h1>
    <div class="suggested-workout-container">

        <div class="suggested-workout-item">
            <p>(WORKOUT)</p></br></br></br></br>
            </be>
        </div>

        <div class="suggested-workout-item">
            <p>(WORKOUT)</p></br></br></br></br>
        </div>

        <div class="suggested-workout-item">
            <p>(WORKOUT)</p></br></br></br></br>
        </div>
    </div>

    </main>
    <footer>
    <div class="footer-menu-container">
        <div class=footer-menu-item>
            <p>Home</p>
        </div>
        <div class=footer-menu-item>
            <p>Start Workout</p> 
        </div>
        <div class=footer-menu-item>
            <p>Manage workouts</p>
        </div>
        <div class=footer-menu-item>
            <p>Progress</p>
        </div>
        <div class=footer-menu-item>
            <p>Settings?</p>
        </div>
    </div>
    </footer>

</body>
</html>