<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="styles.css">
    <title>Sign-In</title>
</head>
<body>
    <header>
    <h1>Log-In Landing Page</h1>
    </header>
    <main>
    <div class="login-signup-parent-container">
        <div class="login-signup-form-container">
            <form action="/login" method="POST">
                <div class="credentials-container">
                    <label for="username"></label>
                    <input type="text" id="username" name="username" placeholder="Username" required><br><br>
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="Password" required><br>
                </div>
                    <label for="stay-signed-in">Remember me?</label>
                <input type="checkbox" id="stay-signed-in" name="stay-signed-in"><br><br>
                <button type="submit" class="sign-in-button">Login</button> 
            </form>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
    </div>
    </main>
    <footer>

    </footer>
</body>
</html>